parameters:
    locale: 'en'
    app.locales: [en]
framework:
    secret: '%env(APP_SECRET)%'
    default_locale: '%locale%'
    csrf_protection: ~
    #http_method_override: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax

    #esi: true
    #fragments: true
    php_errors:
        log: true

    router:
        default_uri: '%env(APP_URL)%'