<div class="card">
    <div class="card-header">
        Color/Icon informations
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-success"><i class="fa fa-check-circle"></i> Less than 30 min</li>
        <li class="list-group-item list-group-item-info"><i class="fa fa-check"></i> Less than 1 hour</li>
        <li class="list-group-item list-group-item-primary"><i class="fa fa-check"></i> Less than 2 hours</li>
        <li class="list-group-item list-group-item-warning"><i class="fa fa-check"></i> Less than 4 hours</li>
        <li class="list-group-item list-group-item-danger"><i class="fa fa-warning"></i> More than 4 hours</li>
        <li class="list-group-item list-group-item-secondary"><i class="fa fa-question-circle"></i> No end date</li>
        <li class="list-group-item list-group-item-danger"><i class="fa fa-bomb"></i> Error !!</li>
    </ul>
</div>