# {{ ansible_managed }} - ANSISTRANO
parameters:
    database_host: "{{ database_host }}"
    database_port: null
    database_name: "{{ database_name }}"
    database_user: "{{ database_user }}"
    database_password: "{{ database_password }}"
    bis_host: "{{ bis_host }}"
    bis_port: null
    bis_name: "{{ bis_database }}"
    bis_user: "{{ bis_user }}"
    bis_password: "{{ bis_password }}"
    mailer_transport: "{{ mailer_transport }}"
    mailer_host: "{{ mailer_host }}"
    mailer_port: "{{ mailer_port }}"
    mailer_user: "{{ mailer_user }}"
    mailer_password: "{{ mailer_password }}"
    secret: "{{ symfony_secret }}"
    domain_controllers:
        - "{{ ad_server }}"
    base_dn: "{{ ad_base_dn }}"
    admin_username: "{{ ad_user }}"
    admin_password: "{{ ad_password }}"
    account_suffix: "{{ ad_account_suffix }}"
    mail_domain: "{{ ad_mail_domain }}"
    notification_from: "{{ ad_notification_from }}"
    notification_to:
    {%for address in ad_notification_to %}
    - "{{ address }}"
    {% endfor %}

    bis_dir_hosts:
    - "{{ ldap_server }}"
    bis_dir_base_dn: "{{ ldap_base_dn }}"
    bis_dir_admin_username: "{{ ldap_user }}"
    bis_dir_admin_password: "{{ ldap_password }}"
